@model IEnumerable<ocbc_team1.Models.BankAccount>
@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="pb-5">Your Accounts</h2>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Transfer.css">
</head>
@{
    int counter = 0;

    //  Template loop, use when DAL ready.
    <span class="text-success">@TempData["SuccessMessage"]</span>

    @foreach (var item in Model)
    {
        <a class="clickToHistory" asp-action="TransferHistory" asp-controller="Dashboard" asp-route-AccountNumber="@item.AccountNumber">
            <div class="container mx-auto shadow bg-white rounded p-5 mb-3">
                <h4 class="pb-4">Savings Acount - @item.AccountNumber</h4>
                <div class="row justify-content-end">
                    <div class="col-3">Account Balance: $@item.AmountAvaliable</div>
                    <div class="col-3">Total Balance: $@item.AmountRemaining</div>
                </div>
            </div>
        </a>
        counter += 1;
    }
    @if (counter == 0)
    {
        <span style="color:red">No active accounts</span>
    }

}
