@{
    ViewData["Title"] = "Profile Settings";

}

<div style="
            background-color: #9e0005;
            background-image: linear-gradient(19deg, #9e0005 0%, #ff6367 100%);
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            " class="p-3 p-md-5">
    <div class="p-5 bg-white shadow mx-auto container">
        <h2 class="my-5">Profile</h2>
        <div class="row">
            @if (@TempData["Message"] != null)
            {
                <div class="bg-success text-white py-3 px-5 mb-4 rounded-pill shadow-lg text-center">
                    @TempData["Message"]
                </div>
            }
            @if (@TempData["ErrorMessage"] != null)
            {
                <div class="mx-auto bg-danger text-white py-3 px-5 mb-4 rounded-pill shadow-lg text-center">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>

        <div>
            <div class="btn-group">
                <label class="btn btn-danger">
                    <a asp-controller="Dashboard" asp-action="ChangeProfile" asp-route-typeotp="Telegram">Telegram</a>
                    @*<input type="radio" name="options" id="option1" autocomplete="off" checked> Active*@
                </label>
                <label class="btn btn-outline-danger">
                    <a asp-controller="Dashboard" asp-action="ChangeProfile" asp-route-typeotp="SMS">SMS</a>
                    @*<input type="radio" name="options" id="option2" autocomplete="off"> Radio*@
                </label>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
