@model IEnumerable<ocbc_team1.Models.Transaction>
@{
    ViewData["Title"] = "Transfer History";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <link rel="stylesheet" href="~/css/TransferHistory.css">
    <!-- MDBootstrap Datatables  -->
    <link href="~/css/addons/datatables.min.css" rel="stylesheet">
</head>

<h2 class="pb-5">Transfer History</h2>

@{
    int accountNo = (int)ViewData["AccountNo"];
}
@if (Model == null)
{
    <div style="color:red;"> You have not made any Transaction </div>
}

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                From_AccountNumber

            </th>
            <th class="th-sm">
                To_AccountNumber

            </th>
            <th class="th-sm">
                Amount

            </th>
            <th class="th-sm">
                TimeSent
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                @if (item.From_AccountNumber == accountNo)
                {
                    <tr>
                        <th>@item.From_AccountNumber</th>
                        <th>@item.To_AccountNumber</th>
                        <th>@item.Amount</th>
                        <th>@item.TimeSent</th>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script src="~/js/Table.js" asp-append-version="true"></script>
