@model IEnumerable<ocbc_team1.Models.Transaction>
@{
    ViewData["Title"] = "Transfer History";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <link rel="stylesheet" href="~/css/TransferHistory.css">
    <!-- MDBootstrap Datatables  -->
    <link href="~/css/addons/datatables.min.css" rel="stylesheet">
</head>
@{ 
    int accountNumber = (int)ViewData["AccountNo"];
}
    <div style="padding-top:100px; padding-bottom:100px; min-height:1200px;
            background-color: #9e0005;
            background-image: linear-gradient(19deg, #9e0005 0%, #ff6367 100%);
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            ">
        <div style="max-width:1000px; margin:auto;" class="p-3">
            <h2 class="pb-5">Transfer History</h2>

            @{
                int accountNo = (int)ViewData["AccountNo"];
            }
        <div class="bg-light p-5 shadow-lg">
            <a style="color:red;text-decoration:none;" class="clickToHistory" asp-action="ScheduledTransferHistory" asp-controller="Dashboard" asp-route-AccountNumber="@accountNumber">Scheduled Transfer History</a>
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm shadow" cellspacing="0" width="100%">
                <thead>
                    <tr class="text-white">
                        <th class="th-sm bg-info" style="cursor:pointer">
                            From

                        </th>
                        <th class="th-sm bg-info" style="cursor:pointer">
                            To

                        </th>
                        <th class="th-sm bg-info" style="cursor:pointer">
                            Amount($)

                        </th>
                        <th class="th-sm bg-info" style="cursor:pointer">
                            Time Stamp
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            @if (item.From_AccountNumber == accountNo || item.To_AccountNumber == accountNo)
                            {
                                <tr>
                                    <td>@item.From_AccountNumber</td>
                                    <td>@item.To_AccountNumber</td>
                                    <td>$@item.Amount.ToString("0.00")</td>
                                    <td>@item.TimeSent</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <script src="~/js/Table.js" asp-append-version="true"></script>
