@model
@{
    ViewData["Title"] = "Transaction";
}

<div class="Main_container">
    <div class="container_header">

    </div>
    <div class="container_content">

    </div>
</div>

<div class="Main_container">
    <div class="container_header">

    </div>
    <div class="container_content">

    </div>
</div>

<div class="Main_container">
    <div class="container_header">

    </div>
    <div class="container_content">

    </div>
</div>
