@{
    ViewData["Title"] = "Transaction";
}

<div class="Main_container">
    <div class="container_header">

    </div>
    <div class="contianer_content">
        <div class="col-sm-9 ">
            <div class="form-group form-check-inline">
                @foreach (var item in ViewData["TransferType"]as List<String>)
                {
                    <label class="col-form-label">
                        <input type="radio"
                               value="@item" class="form-check-input" />
                        <span style="font-weight:normal;padding-right:20px">@item</span>
                    </label>
                }
            </div>
        </div>
    </div>
</div>

<div class="Main_container">
    <div class="container_header">

    </div>
    <div class="container_content">

    </div>
</div>

<div class="Main_container">
    <div class="container_header">

    </div>
    <div class="container_content">

    </div>
</div>
