/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.LoginButton {
    float: right;
    width: 120px;
    height: auto;
    background-color: red;
    border-color: red;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

a.LoginButton {
    float: right;
    width: 120px;
    height: auto;
    background-color: #fe4c4c;
    border-color: #fe4c4c;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
}
