.Main_container {
    width: auto;
    margin-bottom: 35px;
}
.container_header {
    padding: 10px;
    background-color: #737373;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container_content{

}

.radio_buttons {
    background-color: #F5F5F5;
    padding: 20px 0px 20px 35px;
    color: gray;
}
.transfer_header {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 50px;
}
.container{
    margin-bottom:20px
}

.clickToHistory{
    color:black;
}

.InputContainer{
    padding:20px;
}

a:hover{
    color:red;
    text-decoration:none;
}
