@model ocbc_team1.Models.ResendAcessCode

@{
    ViewData["Title"] = "Signup";
}

<div style="padding-top:100px; padding-bottom:100px;
            background-image:url('/images/ocbc-skyway.jpg');
            background-position:top;
            background-size:cover;
            background-repeat: no-repeat;
            ">
    <div class="mx-auto shadow bg-white rounded p-5" style="max-width:700px; margin-bottom:100px;">
        <h2>Forgotten Access Code?</h2>
        
        <form method="post" class="bg-white shadow col-md-8 mx-auto" asp-controller="Home" asp-action="forgetPassword">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email Address</label>
                <input asp-for="Email" class="form-control rounded-0" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group p-4 text-center">
                <input type="submit" value="Sign Up" class="btn text-white px-5" style="background-color:red; border-radius:0px" />
            </div>
        </form>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>