@{
    ViewData["Title"] = "Home Page";
}
<div style="padding-top:15%; min-height: 1000px;
            padding-right: 15%; padding-left: 15%;
            background-image:url('/images/ocbc-bg.jpg');
            background-position:top;
            background-size:cover; 
            background-repeat: no-repeat;
            ">
    <div class="p-4 shadow-lg float-right" style="background-color:rgb(255 255 255 / 1); width:fit-content;">
        <h2 class="display-4">OCBC Online Banking</h2>
        <p>Banking for individual, businesses and private</p>
    </div>
</div>