@{
    ViewData["Title"] = "Home Page";
}
<div style="padding-top:150px; min-height: 1000px;
            background-image:url('/images/ocbc-bg.jpg');
            background-position:top;
            background-size:cover; 
            background-repeat: no-repeat;
            ">
    <div class="m-5 p-3 pr-5 shadow" style="background-color:rgb(255 255 255 / 1); width:fit-content;">
        <h1 class="display-4">OCBC Online Banking</h1>
        <p>Banking for individual, businesses and private</p>
    </div>
</div>