@model ocbc_team1.Models.LoginViewModel
@{
}

<div class="mx-auto col-4 p-1 shadow p-3 mb-5 bg-white rounded" style="width:fit-content()">
    <h2> Online Banking </h2>
    <form method="post" asp-action="Login" class="mx-auto">
        <fieldset class="FormContent">
            <div class="col login-field" style="padding-left:0px;">
                <div class="form-group row" style="display: inline; margin-left: 0px;">
                    <label asp-for="AccessCode"
                           class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <input asp-for="AccessCode" class="form-control" />
                        <span asp-validation-for="AccessCode"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row" style="display:inline; margin-left:0px;">
                    <label asp-for="Pin"
                           class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <input asp-for="Pin" class="form-control" />
                        <span asp-validation-for="Pin"
                              class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 col-md-5">
                    <input type="submit" value="Login" class="btn btn-primary" style="float:right; width:120px; height:auto;" />
                </div>
                <span style="color:red;">@TempData["Message"]</span>
            </div>
        </fieldset>
    </form>
    <p>Don't have an account? <a href="">Sign up</a></p>
</div>