@model ocbc_team1.Models.User

@{
    ViewData["Title"] = "Signup";
}

<div class="mx-auto shadow bg-white rounded p-5" style="max-width:700px; margin-bottom:100px;">
    <h2>Sign Up for Online Banking Services</h2>
    <p class="text-dark mt-1 mb-4">
        What you'll need to sign up:
        <br />- Your ATM, debit or credit card number
        <br />- Card PIN
    </p>
    <form asp-action="Signup">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CardNumber" class="control-label">Last 8-digits of card no.</label>
            <input asp-for="CardNumber" class="form-control rounded-0" />
            <span asp-validation-for="CardNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BankPIN" class="control-label">6-digit PIN</label>
            <input type="password" asp-for="BankPIN" class="form-control rounded-0" />
            <span asp-validation-for="BankPIN" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control rounded-0" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control rounded-0" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email Address</label>
            <input asp-for="Email" class="form-control rounded-0" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IC" class="control-label">Identification No.</label>
            <input onkeyup="this.value = this.value.toUpperCase();" asp-for="IC" class="form-control rounded-0" />
            <span asp-validation-for="IC" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label">Date of Birth</label>
            <input type="date" asp-for="DateOfBirth" class="form-control rounded-0" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control rounded-0" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group p-4 text-center">
            <input type="submit" value="Sign Up" class="btn text-white px-5" style="background-color:red; border-radius:0px" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
