@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="nav justify-content-center bg-light shadow-lg d-flex justify-content-center">
    <li><a class="nav-item nav-link text-danger" asp-controller="Dashboard" asp-action="Index">Accounts</a></li>
    @* Drop Down Payments & Transfer *@
    <li class="nav-item dropdown text-danger">
        <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Payment & Transfer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-item nav-link text-danger" asp-controller="Dashboard" asp-action="Transfer">Payment & Transfer</a>
            <a class="dropdown-item nav-item nav-link text-danger" asp-controller="Dashboard" asp-action="ScheduledTransfer">Scheduled Transfer</a>
            <a class="dropdown-item" href="#">Gifts</a>
            @*<div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>*@
        </div>
    </li>
    <li><a class="nav-item nav-link">Investment & Insurance</a></li>
    <li><a class="nav-item nav-link">Customer Service</a></li>
    <li><a class="nav-item nav-link text-danger" asp-controller="Dashboard" asp-action="NewBankAccount">Open an Account</a></li>
    <li><a class="nav-item nav-link">Rewards</a></li>
</ul>
