@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OCBC Online Banking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow sticky-top">
            <div class="container"
                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="ocbc logo" height="50px" style="margin-right:50px;" />
                 </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (Context.Session.GetString("login") == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-fill"></i> Home</a>
                                </li>
                                @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>*@
                            }
                            else
                            {

                                <li class="nav-item text-danger">Welcome @Context.Session.GetString("fullname")</li>
                            }
                        }
                    </ul>
                    @* Login Button *@
                    @if (Context.Session.GetString("login") == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="nav-link text-danger font-weight-bold" asp-area="" asp-controller="Home" asp-action="Login"><i class="bi bi-box-arrow-right"></i> Login</a></li>
                        </ul>
                    }
                    @if (Context.Session.GetString("login") == "true")
                    {
                        <ul class="nav navbar-nav navbar-right text-danger">
                            <li class="text-danger"><i class="bi bi-person-fill">Profile</i></li>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item nav-item nav-link text-danger" asp-controller="Gift" asp-action="Inbox"><i class="bi bi-gear-fill"></i> Settings</a>
                                <a class="dropdown-item nav-item nav-link text-danger" asp-controller="Dashboard" asp-action="UserLogout"><i class="bi bi-box-arrow-in-left"></i> Logout</a>
                            </div>
                        </ul>
                        
                    }
                </div>
            </div>
        </nav>
        @if (Context.Session.GetString("login") == "true")
        {
            @await Html.PartialAsync("~/Views/Shared/_DashboardNav.cshtml")

        }
    </header>
    <div class="container mw-100" style="padding:0px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ocbc_team1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="~/js/addons/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Table.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
